*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.navbar-container{
    background-color: #EFEFEF;
    width : 100%vh;
    height : 4rem;
    display: inline-flexbox;
    padding-top:1rem;
    padding-right:1rem;
    padding-bottom: 1rem;
    justify-content: space-evenly;
}

.logo{
    color : #0EA0FF;
    flex:left;
    text-align: center;
    text-decoration: none;
    font-size: 2rem;
    margin-left: 1.5rem;
}

.logo:hover{
    color : #0e9fffcb;
}

.blue-button{
    background-color: #0EA0FF;
    text-align: center;
    border-radius: 5rem;
    float: right;
    text-decoration: none;
    color: #FFFFFF;
    padding : 1rem 2rem;
    position: relative;
    animation: all 0.3s ease-in;
    box-shadow: #0EA0FF;
    
}

.blue-button:hover{
    background-color: #0e9fffc5;
}


.white-button{
    background-color: #FFFFFF;
    text-align: center;
    border-radius: 5rem;
    float: right;
    text-decoration: none;
    color: #0EA0FF;
    padding : 1rem 2rem;
    position: relative;
    animation: all 0.3s ease-in;
    margin-right: 1rem;
}

.white-button:hover{
   color :#0e9fffc5;
}